<header class="sticky-header position-sticky bg-white p-3" style="top:0; z-index: 1;">
    <h1>Messages</h1>
</header>

<section class="messages container p-3">
    <div class="message d-flex justify-content-between" routerLink="./detail">
        <div class="logo">
            <span class="color-circle rounded-circle bg-dark border text-white">SBUX</span>
        </div>
        <div class="body">
            <h3>Starbucks</h3>
            <p>Your Order to buy 1 Share of SBUX was filled.</p>
        </div>
        <div class="time">
            <span class="text-muted">6h</span>
        </div>
    </div>
    <div class="message d-flex justify-content-between" routerLink="./detail">
        <div class="logo">
            <span class="color-circle rounded-circle bg-dark border text-white">XOM</span>
        </div>
        <div class="body text-muted">
            <h3>ExxonMobile</h3>
            <p>Your Order to buy 1 Share of SBUX was cancelled.</p>
        </div>
        <div class="time">
            <span class="text-muted">6h</span>
        </div>
    </div>

    <div class="box-placeholder">
        <span class="category text link"></span>
        <h4 class="text line"></h4>
        <h4 class="text"></h4>
        <!-- <div class="image">
            <div class="embed-responsive embed-responsive-16by9"></div>
        </div> -->
        <div class="excerpt">
            <div class="text line"></div>
            <div class="text line"></div>
            <div class="text"></div>
        </div>
    </div>
</section>