<section class="pt-4 pt-md-11">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md-5 col-lg-6 order-md-2">

        <!-- Image -->
        <img src="assets/img/illustration-1.png" class="img-fluid mw-md-150 mw-lg-130 mb-6 mb-md-0 aos-init aos-animate"
          alt="desk image">

      </div>
      <div class="col-12 col-md-7 col-lg-6 order-md-1">

        <!-- Heading -->
        <h2 class="text-center text-md-left">
          Welcome to my <span class="text-primary">Portfolio</span> website<br>
        </h2>

        <!-- Text -->
        <p class="lead text-center text-md-left text-muted mb-6 mb-lg-8">
          I love writing code to build <strong>full stack applications</strong> to solve <strong>real world
            problems</strong> or just for fun projects.
        </p>

        <!-- Social icons -->
        <div class="text-center text-md-left">
          <a href="overview.html" class="btn btn-primary shadow lift mr-1">
            View all pages <i class="fe fe-arrow-right d-none d-md-inline ml-3"></i>
          </a>
          <a href="docs/index.html" class="btn btn-primary-soft lift">
            Documentation
          </a>
        </div>

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>



<section class="projects bg-light bg-gradient">
  <h2>Recent Projects</h2>

  <ul>
    <li><a routerLink="/apps/covid19-dashboard">COVID-19 Dashboard</a></li>
    <li><a routerLink="/apps/todo">TODO app</a></li>

    <li><a href routerLink="/robinhood" target="_blank">Robinhood app</a></li>

  </ul>

  <div class="container">
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="assets/img/robinhood-1.png" alt="robinhood screenshot" style="width: 100%">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h3 class="card-title text-primary">Robinhood</h3>
            <p class="card-text">Build Robinhood clone </p>
            <h4>
              <strong>Technology </strong> <span>Flexbox, Bootstrap, JavaScript, CSS3</span>
            </h4>

            <a class="card-link">Source</a>
            <a class="card-link" href="/robinhood" target="_blank">Demo Robinhood app</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>