<header class="sticky-header position-sticky bg-white p-3" style="top:0; z-index: 1;">
    <div class="row">
        <div class="col">
            <h1>Cash</h1>
            <h1>$1,203.03</h1>
        </div>
    </div>
</header>

<section class="balance-summary d-flex justify-content-between p-3">
    <section class="bs-item box shadow rounded-lg p-3 mr-3">
        <p>Buying Power</p>
        <p class="text-success">$1,203.03</p>

        <p class="text-muted bs-info">
            Stocks, options, ETFs
        </p>
    </section>
    <section class="bs-item box shadow rounded-lg p-3">
        <p>Withdraw Or Spend</p>
        <p class="text-success">$300.03</p>

        <p class="text-muted bs-info">
            Debit card, ATM, bank transfer
        </p>
    </section>
</section>

<div class="px-3 py-2">
    <button class="btn btn-success w-100 rounded-pill" routerLink="./transfer">Transfer</button>
</div>
<br>

<section class="interest p-3 border-top">
    <h2>0.3% APY Schedule <span class="material-icons">
            info_outline
        </span>
    </h2>
    <p class="text-success">Interest Earning Explained</p>

    timeline

    <ul class="timeline">
        <li>
            <span>Previous Interest payday</span>
            <p class="text-muted">Aug 31
            </p>
        </li>
        <li>
            <span>Accruing interest....</span>
            <span class="text-success float-right">+$1.03</span>

        </li>
        <li>
            <span>Next Interest payday</span>
            <p class="text-muted">Sep 30
            </p>
        </li>
    </ul>
</section>