<div class="d-flex flex-wrap mt-3" style="gap: 20px">

    <div class="card rounded-3 shadow-sm" style="max-width: 500px; " *ngFor="let item of projects">
        <div class="row g-0">
            <div class="col-md-4">
                <img *ngIf="item.image" src="{{item.image}}" alt="robinhood screenshot" style="width: 100%">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h3 class="card-title text-primary">{{item.title}}</h3>
                    <p class="card-text">{{item.description | ellipsis:150 }} </p>
                    <p class="text-muted">
                        <strong>Technology </strong> <span>Flexbox, Bootstrap, JavaScript, CSS3</span>
                    </p>
                    <a class="card-link" [routerLink]="item.source">Source Code</a>
                    <a class="card-link" [routerLink]="item.demo">Demo</a>
                </div>
            </div>
        </div>
    </div>

</div>