<p class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
    <span class="fs-4">Github user: Rattanakchea</span>
</p>
<hr>

<ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
        <a href="#" class="nav-link active" aria-current="page">
            <svg class="bi me-2" width="16" height="16">
                <use xlink:href="#home"></use>
            </svg>
            Home
        </a>
    </li>
    <li>
        <a href="#" class="nav-link link-dark">
            <svg class="bi me-2" width="16" height="16">
                <use xlink:href="#speedometer2"></use>
            </svg>
            Dashboard
        </a>
    </li>
</ul>
<hr>
<p>
    Built with passion
</p>