<div class="container-fluid text-center p-3 mb-3">

    <form (ngSubmit)="onSubmit(actionState)" novalidate>
        <div class="form-group d-flex gap-2 justify-content-center">
            <label class="col-form-label">Github Repo User</label>
            <div class="">
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Enter a repo user" [(ngModel)]="actionState.searchQuery" name="repo">
            </div>
            <button type="submit" class="btn btn-primary">Search</button>

        </div>
    </form>
</div>


<div *ngIf="loading$ | async" class="d-flex justify-content-center">
    <span>
        Please wait
    </span>
    <my-ellipsis></my-ellipsis>
</div>

<div class="content d-flex flex-grow-1 align-items-stretch" *ngIf="vm$ | async as vm">

    <aside class="flex-column flex-shrink-0 p-3 bg-light" style="width: 30%; min-width: 250px">
        <div class="d-flex flex-column mb-3 mb-md-0 link-dark text-decoration-none w-100">

            <div class="text-center d-flex align-items-center" *ngIf="vm.userInfo.avatar_url">
                <span class="fs-4">{{vm.userInfo.name}}</span>
                <img [src]="vm.userInfo.avatar_url" class="rounded" alt="avatar" width="30px">

                <a class="ms-auto" [href]="vm.userInfo.html_url" target="_blank">Github</a>
            </div>

            <p class="d-flex w-100">
                <span class="flex-grow-1">Followers: {{vm.userInfo.followers}}</span>
                <span class="flex-grow-1">Following: {{vm.userInfo?.following}} </span>
            </p>

        </div>
        <hr>

        <app-github-repo-list class="flex-column flex-grow-1 mb-auto" [data]="vm"></app-github-repo-list>

        <p>
            Built with passion
        </p>
    </aside>

    <main class="flex-grow-1 overflow-auto p-3">
        <h3>Repo Detail</h3>

        <ng-container *ngIf="vm.selectedRepo; let repo">

            <dl class="row">
                <dt class="col-sm-3">Repo Name</dt>
                <dd class="col-sm-9">{{ repo.name}}</dd>

                <dt class="col-sm-3">description</dt>
                <dd class="col-sm-9">{{ repo.description}}</dd>

                <dt class="col-sm-3">URL</dt>
                <dd class="col-sm-9">
                    <a href="{{ repo.html_url}}" target="_blank">{{ repo.html_url}}</a>

                </dd>
            </dl>

        </ng-container>


    </main>

</div>