<div class="container-fluid text-center p-3 mb-3">

    <form (ngSubmit)="onSubmit(actionState)" novalidate>
        <div class="form-group d-flex gap-2 justify-content-center">
            <label class="col-form-label">Github Repo User</label>
            <div class="">
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Enter a repo user" [(ngModel)]="actionState.searchQuery" name="repo">
            </div>
            <button type="submit" class="btn btn-primary">Search</button>

        </div>
    </form>
</div>



<div class="content d-flex flex-grow-1 align-items-stretch" *ngIf="vm$ | async as vm">

    <aside class="flex-column flex-shrink-0 p-3 bg-light" style="width: 30%">
        <app-github-repo-list class="flex-column h-100" [data]="vm"></app-github-repo-list>
    </aside>

    <main class="flex-grow-1 overflow-auto p-3">

        <pre>
            {{ actionState | json }}
        </pre>

        <p>Markdown reader - Readme.md</p>
    </main>

</div>