<section class="bg-light header d-flex justify-content-start py-3">
  <span>
    <a style="margin-right: 25px" routerLink="../covid19-dashboard"
      >Dashboard</a
    >
    <a style="margin-right: 25px" routerLink="../covid19-countries-table"
      >Risk Table</a
    >
  </span>
  <span class="text-secondary"
    >Last updated on: {{ lastUpdatedAt | date: "short" }}</span
  >
  &nbsp;&nbsp;
  <a href>Refresh</a>
</section>
<br />
<section class="brief">
  <!-- TABLE -->
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Type a country"
    />
  </mat-form-field>

  <div class="mat-elevation-z8" *ngIf="dataSource">
    <table mat-table [dataSource]="dataSource" matSort>
      <!-- Rank Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Rank</th>
        <td mat-cell *matCellDef="let row">{{ row.id }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="country">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Country</th>
        <td mat-cell *matCellDef="let row">{{ row.country }}</td>
      </ng-container>

      <!-- Progress Column -->
      <ng-container matColumnDef="confirmed">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Confirmed</th>
        <td mat-cell *matCellDef="let row">{{ row.confirmed }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  <mat-paginator [pageSizeOptions]="[10, 25, 50, 75, 100]"></mat-paginator>
</section>
