<section class="bg-light header d-flex justify-content-start py-3">
    <span>
      <a style="margin-right: 25px" routerLink="../covid19-dashboard"
        >Dashboard</a
      >
      <a style="margin-right: 25px" routerLink="../covid19-countries-table"
        >Risk Table</a
      >
    </span>
    <span class="text-secondary"
      >Last updated on: {{ lastUpdatedAt | date: "short" }}</span
    >
    &nbsp;&nbsp;
    <a href>Refresh</a>
  </section>
  <br />
  <section class="brief">
    
  </section>
  