<nav
  class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient"
>
  <div class="container">
    <a class="navbar-brand logo" href="#">Rattanak Chea</a
    ><button
      data-toggle="collapse"
      class="navbar-toggler"
      data-target="#navbarNav"
    >
      <span class="sr-only">Toggle navigation</span
      ><span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" href="index.html">Home</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" routerLink="./song-lyrics">Projects</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" href="cv.html">CV</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" href="hire-me.html">Hire me</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="content page" role="main">
  <router-outlet></router-outlet>

  <!-- Footer -->
  <footer style="position: absolute; bottom: 0;">
    2020 Rattanak
  </footer>
</div>
