<section class="latest">
  <h2>Map with by countries</h2>
  <div class="map"></div>
</section>

<div>
  <h2>World Wide</h2>
</div>
<section class="brief">
  <div class="brief-item border border-dark mb-3 ">
    <span class="material-icons md-36 yellow">
      confirmation_number
    </span>
    <div>
      <h3 class="card-title mb-0">112</h3>
      <p class="brief-item-label">
        Confirmed cases
      </p>
    </div>
  </div>
  <div class="brief-item border border-dark mb-3 ">
    <span class="material-icons md-36 red">
      report
    </span>
    <div>
      <h3 class="card-title mb-0">112</h3>
      <p class="brief-item-label">
        Death
      </p>
    </div>
  </div>
  <div class="brief-item border border-dark mb-3 ">
    <span class="material-icons md-36 orange">
      healing
    </span>
    <div>
      <h3 class="card-title mb-0">112</h3>
      <p class="brief-item-label">
        Recovered
      </p>
    </div>
  </div>
  <div class="brief-item border border-dark mb-3 ">
    <span class="material-icons md-36 orange">
      trending_up
    </span>
    <div>
      <h3 class="card-title mb-0">112</h3>
      <p class="brief-item-label">
        Mortality Rate
      </p>
    </div>
  </div>
</section>
<section class="country">
  Dropdown selection
</section>
