<section class="bg-light header d-flex justify-content-center py-3">
  <span class="text-secondary"
    >Last updated on: {{ lastUpdatedAt | date: "short" }}</span
  >
  &nbsp;&nbsp;
  <a href>Refresh</a>
</section>
<br />
<section class="brief">
  <div class="row">
    <div class="col">
      <h3>Global &nbsp;</h3>
      <c19-case-statistic [stat]="worldStat"></c19-case-statistic>
    </div>

    <div class="col">
      <div class="d-flex">
        <h3 class="flex-fill">Country {{ this.selectedCountryCode }}</h3>
        <p class="flex-fill">Dropdown</p>
      </div>

      <c19-case-statistic [stat]="worldStat"></c19-case-statistic>
    </div>
  </div>
</section>

<section class="latest">
  <div class="row">
    <div class="col">
      <div class="map">
        <agm-map
          [fitBounds]="true"
          [scrollwheel]="true"
          [zoomControl]="true"
          [streetViewControl]="false"
          [zoom]="3"
          [minZoom]="3"
          [maxZoom]="6"
        >
          <ng-container *ngFor="let marker of markers; let i = index">
            <agm-marker
              [latitude]="marker.location.lat"
              [longitude]="marker.location.lng"
              animation="DROP"
              [agmFitBounds]="true"
              [zIndex]="5"
              [label]="marker.confirmed"
            >
            </agm-marker>
          </ng-container>
        </agm-map>
      </div>
    </div>
    <div class="col">
      <h3>Chart</h3>
    </div>
  </div>
</section>
