:host {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.brief-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex: 1 1 0;
  margin: 10px;
  padding: 10px;
  border-radius: 3px;

  .brief-item-label {
    font-size: 1.1rem;
  }
}
