<header class="sticky-header position-sticky bg-white p-3" style="top:0; z-index: 1;">
    <h1>Browse</h1>

    <div class="my-2 input-group">
        <span class="material-icons input-group-text">
            search
        </span>
        <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder=" Search companies...">
        <datalist id="datalistOptions">
            <option value="Amazon">
            <option value="Apple">
            <option value="Facebook">
            <option value="Intel">
            <option value="Microsoft">
        </datalist>
    </div>
</header>

<section class="d-flex justify-content-between p-3">
    <h3>Popular Lists</h3>
</section>