<h2>Leetcode Reminder</h2>

<p><strong>Requirements MVP</strong></p>
<ul>
  <li>User input their email address and click send</li>
  <li>User receives feedback after submission</li>
  <li>User receive email with link to a Leetcode problem everyday</li>
</ul>

<div class="container mx-auto">
  <form (ngSubmit)="onSubmit()" #emailForm="ngForm">
    <div class="form-row align-items-center">
      <div class="col-auto w-50">
        <label class="sr-only" for="inlineFormInput">Name</label>
        <input type="text" class="form-control mb-2" placeholder="Enter your email" name="email" required
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [(ngModel)]="email" />
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-2" [disabled]="!emailForm.form.valid">
          Submit
        </button>

        <button mat-raised-button mat-dialog-close="OK" color="primary">Ok</button>

      </div>
    </div>
  </form>
  <p class="text-success">{{ result }}</p>

  <h2 class="mt-5">Sample Email</h2>
  <div class="sample-email border p-3 mt-4">
    <h1 class="text-primary">Question 1 - Two sum</h1>
    <p>Given an array of integers, check whether there are two numbers...</p>
    <a href="">View Question on Leetcode</a>
  </div>
</div>