<app-introduction></app-introduction>


<section class="bg-light bg-gradient py-3">

    <div class="container">

        <div class="d-flex">
            <h2>
                Recent Projects
            </h2>
            <button type="button" class="btn btn-link btn-sm" (click)="shuffleProjects()">Shuffle <i
                    class="bi bi-shuffle"></i></button>
        </div>

        <div class="container">
            <app-projects-list [projects]="projects"></app-projects-list>


            <div class="mt-3">
                <button type="button" class="btn btn-primary btn-sm" routerLink="/projects">View All Projects <i
                        class="bi bi-eye-fill"></i></button>
            </div>


        </div>

        <ul>
            <li><a routerLink="/apps/todo">Bootstrap UI</a></li>
            <li><a routerLink="/apps/covid19-dashboard">COVID-19 Dashboard</a></li>
            <li><a routerLink="/apps/todo">TODO app</a></li>
        </ul>

    </div>

</section>