<nav class="navbar navbar-dark navbar-expand-lg portfolio-navbar">
  <div class="container d-flex flex-wrap justify-content-md-between justify-content-around">

    <div class="logo">
      <a routerLink="/" style="text-decoration: none;">
        <h1 class="logo">Rattanak</h1>
      </a>
    </div>

    <ul class="nav d-flex justify-content-around justify-content-md-end" style="flex: 1 0 350px">
      <li class="nav-item" role="presentation">
        <a class="nav-link" routerLink="/projects">Projects</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" routerLink="/resume">Resume</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" href="/web-resources">Resources</a>
      </li>
    </ul>
  </div>
</nav>