<header class="sticky-header position-sticky bg-white p-3" style="top:0; z-index: 1;">
    <div class="d-flex align-items-center">
        <span type="button" routerLink="../" class="material-icons pr-2">
            keyboard_backspace
        </span>
        <h1>Starbucks</h1>
    </div>
</header>

<section class="message-detail container p-3 d-flex flex-column justify-content-end mt-auto">
    <div class="box-placeholder">
        <span class="category text link"></span>
        <h4 class="text line"></h4>
        <h4 class="text"></h4>
        <!-- <div class="image">
            <div class="embed-responsive embed-responsive-16by9"></div>
        </div> -->
        <div class="excerpt">
            <div class="text line"></div>
            <div class="text line"></div>
            <div class="text"></div>
        </div>
    </div>
    <div class="message d-flex align-items-end">
        <div class="logo mr-3">
            <span class="color-circle rounded-circle bg-dark border text-white">SBUX</span>
        </div>
        <div class="box-placeholder">
            <div class="text line"></div>
        </div>
    </div>

    <div class="message d-flex align-items-end">
        <div class="logo mr-3">
            <span class="color-circle rounded-circle bg-dark border text-white">SBUX</span>
        </div>
        <div class="body box shadow rounded p-3 bg-light">
            <p>Your Order to buy 1 Share of SBUX was filled. Lorem ipsum dolor sit amet consectetur adipisic.</p>
        </div>
    </div>
    <div class="message d-flex align-items-end">
        <div class="logo mr-3">
            <span class="color-circle rounded-circle bg-dark border text-white">SBUX</span>
        </div>
        <div class="body box shadow rounded p-3 bg-light">
            <p>Your Order to buy 1 Share of SBUX was filled. Lorem ipsum dolor sit amet consectetur adipisic.</p>
        </div>
    </div>

    <div class="message d-flex justify-content-end">
        <div class="box shadow rounded-pill p-3">
            <p>Why wasn't this order filled?</p>
        </div>
    </div>

    <div id="bottom">
    </div>
</section>