<nav class="navbar navbar-dark navbar-expand-lg portfolio-navbar gradient py-3">
  <div class="container d-flex flex-nowrap">
    <div>
      <a class="navbar-brand logo" routerLink="/">Rattanak Chea</a>
    </div>
    <div class="d-flex" id="navbarNav">
      <ul class="nav ml-auto">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" routerLink="">Home</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" routerLink="/projects">Projects</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" routerLink="/apps">Apps</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" href="">Dark Theme</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
